html, body {
    text-align: center;
    overflow: hidden;
    margin: 0;
}
::selection {
    background: none;
    color: none;
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

#current-reason {
    font-size: 75px;
    text-align: center;
    margin: 0;
}